<label class="block mb-4">
	
  <textarea name="{{ field.handle }}" rows="5" class="form-input mt-1 p-2 block w-full border border-black placeholder-gray-500" {{ field.isRequired ? 'required' : '' }}></textarea>

	{% if field.hasErrors %}
		{% for error in field.errors %}
			<span class="text-red-600">
				{{ error }}
			</span>
		{% endfor %}
	{% endif %}
</label>
