{% import '_macros/ui.twig' as ui %}

<div class="container mx-auto justify-between items-center">
	<div class="flex flex-wrap {% if block.flip %} flex-row-reverse {% endif %}">
    <div class="w-full md:w-1/2 px-6 py-8 md:py-24 flex flex-col justify-center">
      <div class="mb-6">
        {{ ui.title(block.heading) }}
      </div>
      <div class="prose max-w-none">
        {{ block.body }}
      </div>
    </div>
    <div class="w-full md:w-1/2 px-6 py-8 md:py-24 flex flex-col justify-center" style="height: 400px">
      {{ ui.image(block.image.one() ?? 'https://source.unsplash.com/random', 'h-full object-cover') }}
    </div>
  </div>
</div>
