<footer role="contentinfo">
  <div class="bg-blue-600 text-white">
    <div class="container mx-auto text-sm">
      <div class="prose p-8">
        CraftCMS Starter Template footer section
      </div>
    </div>
  </div>
</footer>
