{% import '_macros/ui.twig' as ui %}

<x-container class="bg-white text-gray-900">
	<div x-data="{ open: false }">
		<nav class="flex flex-col lg:flex-row items-center justify-between py-4 w-full text-base tracking-wide relative">
			<div class="flex w-full items-center justify-between">
        <h1 class="">
          <a href="/" class="flex justify-center items-center">
            <x-logo />
          </a>
        </h1>
				<div class="block lg:hidden">
					<button x-on:click="open = !open" class="flex items-center px-3 py-2 text-blue-700 focus:outline-none focus:shadow-outline">
						<svg style="transition: all .3s ease" class="h-5 w-5 cursor-pointer fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 30 30">
							<rect x-bind:style="open ? 'transform: rotate(45deg) translate(6px, -5px); transition: all .1s ease' : 'transition: all .1s ease'" width="30" height="3" y="4" style="transition: all .1s ease"></rect>
							<rect x-bind:style="open ? 'transition: opacity .1s ease; opacity: 0;' : 'opacity: 1;transition: opacity .1s ease'" width="30" height="3" y="14" style="opacity: 1;transition: opacity .1s ease"></rect>
							<rect x-bind:style="open ? 'transform: rotate(-45deg) translate(-15px, -4px); transition: all .1s ease' : 'transition: all .1s ease'" width="30" height="3" y="24" style="transition: all .1s ease"></rect>
						</svg>
					</button>
				</div>
			</div>
			<ul x-bind:class="{ 'block': open, 'hidden': !open  }" class="lg:flex gap-4 justify-end w-full mt-8 lg:mt-0">
        <li class="text-left">
          <a target="_blank" href="https://github.com/giorgiopogliani/craftcms-starter-template" class="hover:underline">
            Other Link
          </a>
        </li>
        <li class="text-left">
          <a target="_blank" href="https://github.com/giorgiopogliani/craftcms-starter-template" class="hover:underline">
            Github
          </a>
        </li>
      </ul>
		</nav>
	</div>
</x-container>
