{% import '_components/ui.twig' as ui %}

<div class="shadow bg-white text-black">
	<div class="container mx-auto">
		<div class="flex items-center justify-between px-2 py-2 w-full text-base tracking-wide">
			<h1 class="">
				<a href="/" class="flex justify-center items-center py-2">
					<span class="font-bold text-xl">Starter</span>
				</a>
			</h1>
			<nav>
				<a target="_blank" href="https://github.com/giorgiopogliani/craftcms-starter-template" class="hover:underline">
					Github
				</a>
			</nav>
		</div>
	</div>
  <div style="height: 500px">
    {{ ui.image('https://source.unsplash.com/random?skyline') }}
  </div>
</div>
