<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.app.language }}">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style> [x-cloak] { display: none } </style>
  {{ craft.vite.script("/assets/app.js") }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  {% block head %}{% endblock %}
  {% include '_layouts/_seo.twig' %}
  {% include '_layouts/_favicon.twig' %}
</head>
<body class="font-sans antialiased overflow-x-hidden bg-gray-100">
  {% block body %}{% endblock %}
</body>
</html>
