<footer role="contentinfo" class="relative overflow-x-hidden">
  <div class="bg-teal-400">
    <div class="container mx-auto text-sm text-gray-900 font-bold ">
      <div class="content p-8">
        CraftCMS Starter Template footer section
      </div>
    </div>
  </div>
</footer>
